@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model FormDataModal
@{
    ViewData["Title"] = "Form";
}

<h1 style="text-align:center; padding-top: 0.5em;">USER CREATION</h1>
<div class="mainDiv">
    <form asp-controller="Form" asp-action="InsertUser" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="nameTable">
            <thead>

                <tr style="height: 1em;"></tr>
                <tr><td class="sideHeading" colspan="3"><h4 style="margin-bottom: 0em;">Personal Information</h4></td></tr>
                <tr style="height: 1em;"></tr>

                <tr>
                    <td>
                        <label for="firstName" class="form-label">First Name</label>
                        <input id="firstName" class="form-control" value="@Model.FirstName" name="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="middleName" class="form-label">Middle Name</label>
                        <input id="middleName" class="form-control" value="@Model.MiddleName" name="MiddleName" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="lastName" class="form-label">Last Name</label>
                        <input id="lastName" class="form-control" value="@Model.LastName" name="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email" class="form-label">Email</label>
                        <input id="email" type="email" placeholder="name@example.com" class="form-control" value="@Model.Email" name="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="phone" class="form-label">Contact Number</label>
                        <input id="phone" class="form-control" placeholder="(xxx)-xxx-xxxx" value="@Model.Phone" name="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </td>
                    <td>
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input id="dob" type="date" class="form-control" asp-for="DateOfBirth" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="age" class="form-label">Age</label>
                        <input id="age" type="number" class="form-control" value="@Model.Age" name="Age" />
                    </td>
                    <td>
                        <label for="nationality" class="form-label">Nationality</label>
                        <input id="nationality" class="form-control" value="@Model.Nationality" name="Nationality" />
                    </td>
                    <td>
                        <label for="occupation" class="form-label">Occupation</label>
                        @* <input id="occupation" class="form-control" placeholder="Student, Software Develpoper, ..." value="@Model.Occupation" name="Occupation" /> *@
                        <select class="form-select" asp-for="Occupation">
                            <option value="Not Choosen">Not Selected</option>
                            <option value="Student">Student</option>
                            <option value="Corporate">Coporate</option>
                            <option value="Military">Military</option>
                            <option value="Teaching">Teaching</option>
                            <option value="Law">Law</option>
                            <option value="others">Others</option>
                        </select>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 1em;"></tr>
                <tr><td class="sideHeading" colspan="3"><h4 style="margin-bottom: 0em;">Address</h4></td></tr>
                <tr style="height: 1em;"></tr>

                <tr>
                    <td>
                        <label for="address1" class="form-label">Street Address</label>
                        <input id="address1" placeholder="Street, Apartment number, etc" class="form-control" value="@Model.Address1" name="Address1" />
                    </td>
                    <td>
                        <label for="address2" class="form-label">Address Line 2</label>
                        <input id="address2" class="form-control" value="@Model.Address2" name="Address2" />
                    </td>
                    <td>
                        <label for="city" class="form-label">City</label>
                        <input id="city" class="form-control" value="@Model.City" name="City" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="state" class="form-label">State</label>
                        <input id="state" class="form-control" value="@Model.State" name="State" />
                    </td>
                    <td>
                        <label for="country" class="form-label">Country</label>
                        <input id="country" class="form-control" value="@Model.Country" name="Country" />
                    </td>
                    <td>
                        <label for="pincode" class="form-label">Pincode</label>
                        <input id="pincode" type="number" class="form-control" value="@Model.Pincode" name="Pincode" />
                    </td>
                </tr>

                <tr style="height: 1em;"></tr>
                <tr><td class="sideHeading" colspan="3"><h4 style="margin-bottom: 0em;">Highest Education</h4></td></tr>
                <tr style="height: 1em;"></tr>

                <tr>
                    <td>
                        <label for="degree" class="form-label">Degree</label>
                        <input id="degree" class="form-control" value="@Model.Degree" name="Degree" />
                    </td>
                    <td>
                        <label for="institution" class="form-label">Institution Name</label>
                        <input id="institution" class="form-control" value="@Model.Institution" name="Institution" />
                    </td>
                    <td>
                        <label for="yearCompleted" class="form-label">Year Completed (or estimated)</label>
                        <input id="yearCompleted" type="number" class="form-control" value="@Model.YearCompleted" name="YearCompleted" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div style ="display: flex; align-items: center; justify-content: center; padding-top: 2em;">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </form>
</div>

<!-- User Creation Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel" >Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                User information has been successfully saved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Script to trigger modal on page load -->
@if (ViewBag.showModal != null && ViewBag.showModal) {
<script>
    $(document).ready(function () {
        $('#successModal').modal('show');
    });
</script>
}


